body, input, select, button {
    font-size: 33px;
}
select {
    width: 250px;
}
input {
    width: 200px;
}
input.small {
    width: 100px
}

.title {
    margin:10px;
    padding:10px;
    text-align: center;
}
.data {
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    padding:0px;
    border:1px gray solid;
}
#go {
    height:90px;
}
.graph {
    display:inline-block;
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    padding:0px;
    border:1px gray solid;
}

.normal-category {
    fill: none;
    stroke: blue;
    stroke-width: 1;
}
.utility-category {
    fill: none;
    stroke: green;
    stroke-width: 1;
}
.actual {
    stroke: orange;
    stroke-width: 1;
}

.station {
    stroke-width: 1;
}
.station-frontseat {
    stroke:blue;
}
.station-backseat {
    stroke:orange;
}
.station-fuel {
    stroke:red;
}
.station-baggage1 {
    stroke:green;
}
.station-baggage2 {
    stroke:purple;
}

.graph, .actual, .station {
    fill: lightgray;
}
