.title {
    margin:10px;
    padding:10px;
    text-align: center;
}
#zerofueld-arm {
    color: lightgray;
}
.data {
    margin:10px;
    padding:10px;
    border:1px gray solid;
}
#go {
    height:50px;
}
.graph {
    margin:10px;
    padding:0px;
    border:1px gray solid;
    fill: lightgray;
}

.normal-category {
    fill: none;
    stroke: blue;
    stroke-width: 1;
}
.utility-category {
    fill: none;
    stroke: green;
    stroke-width: 1;
}
.actual {
    stroke: orange;
    stroke-width: 1;
    fill: lightgray;
}

.station {
    stroke-width: 1;
    fill: lightgray;
}
.station-frontseat {
    stroke:blue;
}
.station-backseat {
    stroke:orange;
}
.station-fuel {
    stroke:red;
}
.station-baggage1 {
    stroke:green;
}
.station-baggage2 {
    stroke:purple;
}
