@media screen and (max-width: 992px) {
    body,
    input,
    select,
    button {
        font-size: 50px;
    }
    select {
        width: 350px;
        height: 100px;
        text-indent: 15px;
    }
    input {
        width: 250px;
        height: 90px;
    }
    input.small {
        width: 150px;
    }
    input.large {
        width: 300px;
    }
    #go {
        height: 150px;
    }
}

.title {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.data {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px gray solid;
}
#zerofuel-arm {
    color: lightgray;
}
.graph {
    display: inline-block;
    width: 49%;
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px gray solid;
}
@media screen and (max-width: 992px) {
    .graph {
        width: 100%;
    }
}

.graph,
.actual,
.station {
    fill: lightgray;
}

.station {
    stroke-width: 1;
}

#stations {
    margin: 5px 0px 5px 30px;
}
